@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: 0px 0 50px;
}

/* PARTE PRINCIPAL DO LOGIN: */

main {
    position: relative;
    display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

/**/

button.login-button {
	border-radius: 20px;
	border: 1px solid #0187a7;
	background-color: #0187a7;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

button.ghost {
	border-radius: 20px;
	border: 1px solid #0187a7;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: transparent;
	border-color: #FFFFFF;
}

/**/

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    font-family: 'Montserrat', sans-serif;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}



/**/
.login-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.painel-ativo .login-container {
	transform: translateX(100%);
}
/**/



/**/
.cadastro-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.painel-ativo .cadastro-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
}
/**/



/*PAINES EXTRAS*/
.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;

	/*TRANSIÇAÕ DE UM LADO PRO OUTRO:*/
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay {
	background: #094b65;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	
	/*SUAVIDADE NA TRANSIÇÃO*/
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

/*FAZ CADA PAINEL FICAR NO SEU LUGAR:*/
.container.painel-ativo .overlay-container{
	transform: translateX(-100%);
}

/*FAZ CADA PAINEL AZUL FICAR NO SEU LUGAR:*/
.container.painel-ativo .overlay {
	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.painel-ativo .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}


/**/

/* NAVEGAÇÃO */

header {
    font-family:'Lato', Helvetica, Arial;
    position: relative;
    width: 100%;
    height:60px;
    background-color:#094b65;
    box-shadow: 0px 3px 10px #464646;
    border-top: 0;
}

.barra {
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 }

.menu{
    height:60px;
    display:flex; /* none; */
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: #ffff;
    text-decoration: none;
    font-size: 1.15rem;
    margin-left: 75px;
}

.dropdown {
    display: none;
}

ul li:hover ul {
    display: block;
    color: #ffff;
    padding-top: 20px;
    width: 160px;
    position: absolute;
    background-color: #094b65;
    border-radius: 10px;
}

ul li ul li{
    padding: 10px;
    font-size: 0.15rem;
    align-items: center;
    
}

ul li ul li a{
    font-size: 0.15rem;
    align-items: center;
}

ul li ul li:hover{
    background-color: #0187a7;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

ul li {
    width: 160px;
    text-align: center;
    position: relative;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    margin: 0 5px;
}

.login-button {
    display: flex;
    flex-direction: row; 
    margin-right: 30px;
}

#button-id {
    align-items: center;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

#button-id a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

#button-carrinho {
    border: none;
    background-color: #0187a7;
}

#button-carrinho a {
    text-decoration: none;
}

.menu-openner {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 5px ;
    background-color: #0187a7;
    color: #fff;
    
}

.menu-openner span {
    margin-right:10px;
}

.menu-closer {
    width:32px;
    height:32px;
    display:none;
    font-size: 30px;
}

/**/

/* FOOTER */

.site-footer{
	position: relative;
	font-family:'Lato', Helvetica, Arial;
	display: flex;
	background-color:#26272b;
	padding:25px 120px 20px;
	font-size:15px;
	line-height:22px;
	color:#737373;
}

.container-footer {
	width: 70%;
}

.coluna-1 {
padding-top: 0;
margin:20px 10px;
width: 55%;
}

.logo-rodape{
position: relative;
width: 190px;
height: 190px;
}

.text-justify {
text-align: justify;
}

.site-footer h6 {
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}